/* A bit of demo styles */;
.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}

.topic-title {
  color: white;
}

.my-swiper-container {
  height: 100%;
}

.opinion-swiper {
  height: 75%;
  margin: 35px 0;
  background:#fff;
}

#home-topic1 {
  background-image:url(../img/africa.jpeg);
  background-size:auto 100%;
}

#home-topic2 {
  background-image:url(../img/blue.jpeg);
  background-size:auto 100%;
}

#home-topic3 {
  background-image:url(../img/man.jpeg);
  background-size:auto 100%;
}