/* A bit of demo styles */;
.swiper-slide {
  background:#fff;
  /*background: blue;*/
}

.topicTitle{
  font-family: 'Rambla', sans-serif;
  font-weight: 800;
  font-size: 60px;
  padding-left: 3%;
  padding-top: 5%;
  line-height: 85%;
  width: 75%;

}

.specialNumber{
  font-size: 25px;
  display: inline-block;
  float:left;
  width:30%;
  height: 100%;
  overflow:hidden;
  text-align: center;
}

.specialNumber h2{
  font-size: 40 px !important;
  color: #5ac8fa;
  margin: 0px;
}

.normalText{
  width:69%;
  overflow:hidden;
  font-size: 11px;
  color: 939393 !important;
}

.cardFact{
  color: #939393;
  letter-spacing: normal;
  font-style: normal;
  font-size: 10px;
  font-weight: 600;
/*  padding-left: 3px;
  padding-right: 3px;*/
 
  padding-top: 5px;
  padding-bottom: 5px;
  /*border-style: solid;*/
  border-top: solid rgba(112, 118, 148, .5);
  border-bottom: solid rgba(112, 118, 148, .5);
  border-top-width: 1px;
  border-bottom-width: 1px;
  bottom: 0;
  position: absolute;
  width: 90%;
}

.line {
  margin: -8px -8px;
  width: 175px;
  padding: 10px;
  /*position: relative;*/
  border-right: 1px solid white;
}

#line-final {
  top:200px;
  height: 20%;
}

#line-first {
  height: 100px;
  border-right: 0px solid white;
}

.index-all-questions{
  margin: auto auto;
  font-family: 'Rambla', sans-serif;
  font-weight: 800;
  font-size: 60px;
  position: relative;
  height: 80%
  top: 18%;
  transform: translateY(-50%);
}

.index-question{
  font-size: 14px;
  letter-spacing: 1.2px;
  width: 80%;
  margin: 2% auto;
  padding: 2%;
  color: white;
  border: 1px solid white;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}

.summaryOnFront{
  font-family: 'Lora', serif;
  font-size: 14px;
  letter-spacing: 1.2px;
  width: 60%;
  margin-left: 5%;
  padding: 5%;
  color:white;
  margin-top: 10%;
  /*padding: 20px;*/
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}

.contentBlockTitle1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 17px;
  text-transform: none;
  color: white;
  white-space: normal;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.popupFont {
  color: black;
  line-height: 170%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-family: 'Lora', serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}
.swiperSlideDiv{
  margin: 0 auto;
  width: 90%;
  line-height: 1.6;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: 'Lora', serif;
  height: 90%;
  position: relative;
}

.swiperSlideDiv h3{
  font-weight: 600;
  font-size: 16px;
}
/*.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}*/

.topic-title {
  color: white;
}

.opinion-title {
}

.my-swiper-container {
  height: 100%;
}

.opinion-swiper {
  height: 80%;
  margin: 20px 0;
  background:#fff;
  padding: 5px;
}

.page1back{
  background-image: url(../img/netanyahuBlur.jpg);
  background-size: auto 100%;
}

.page2back{
  background-image: url(../img/epa_mideast_israel_palestinians_conflict.jpg);
  background-size: auto 100%;
  background-position: center; 
}

.page3back{
  background-image: url(../img/demonstrators-defy-curfew-ferguson.jpg);
  background-size: auto 100%;
  background-position: center; 
}

#home-topic1 {
  background-image:url(../img/netanyahu.png);
  background-size:auto 100%;
}

#home-topic2 {
  background-image:url(../img/epa_mideast_israel_palestinians_conflict-1.jpg);
  background-size: auto 100%;
  background-position: center; 
}

#home-topic3 {
  background-image:url(../img/demonstrators-defy-curfew-ferguson-1.jpg);
  background-size: auto 100%;
  background-position: center; 
}